@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="text-center display-4 my-4">Can Karatepe Devbase Backend Challenge</h1>
    <p>This project was created using .NET Core 5.0: ASP.NET Core with Razor Pages and EF Core with the Code First Approach. Some choices I made with their explanations:</p>
    <ul>
        <li>I choose to use Razor pages instead of MVC for simplicity and modernity's sake.</li>
        <li>I choose to not use a Repository pattern as an abstraction layer because after some reasearch I figured out it was considered an anti-pattern with the features available in EntityFramework.</li>
        <li>I choose to use the SQL LocalDB server included in Visual Studio because it made testing simpler and easier and since this project is not meant for production.</li>
        <li>I choose not to implement strict and/or localization-dependent validations for some fields such as phone numbers and addresses to make it easier for testing quickly.</li>
    </ul>
</div>
